.navbar {
  position: fixed;
  width: 100%;
  background: transparentize($color: $black, $amount: 0.6);
  color: $white;
  z-index: 2;
  scroll-behavior: smooth;
  .collapse {
    z-index: 10;
    position: fixed !important;
    left: 0;
    width: 100vw;
    height: 30px;
    color: $black;
    margin-top: 15px;
  }
  .collapsing {
    z-index: 10;
    position: fixed !important;
    left: 0;
    width: 100vw;
    height: 30vh;
    margin-top: 15px;
  }
  .collapsing.show {
    z-index: 10;
    position: fixed !important;
    left: 0;
    width: 100vw;
    margin-top: 15px;
    height: 30vh;
  }
  .header {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: $primary;
    .img {
      width: 70px;
      height: 70px;
      border-radius: 100%;
    }
  }
  .body {
    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      cursor: pointer;
      font-family: 'Pacifico', cursive;
      font-size: 1.5rem;
      color: $primary;
    }
    
  }
  .float-right {
    .call {
      padding-left: 20px;
      margin-left: 0px;
    }
    
    .nav-link {
      display: inline-block;
      padding-left: 10px;
      text-decoration: none;
      color: $white;
      text-transform: capitalize;
    }
    .nav-link:hover {
      color: $primary;
      text-transform: uppercase;
    }
  }
}

.navbar.scrolled {
  background: $black;
  transition: all 0.2s linear;
}


/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    position: fixed;
    width: 100%;
    background: transparentize($color: $black, $amount: 0.6);
    color: $white;
    z-index: 2;
  .collapse {
    z-index: 3;
    position: fixed !important;
    left: 0;
    width: 100vw;
    color: $black;
    margin-top: 15px;
  }
  .collapsing {
    z-index: 3;
    position: fixed !important;
    left: 0;
    width: 100vw;
    margin-top: 15px;
  }
  .collapsing.show {
    z-index: 3;
    position: fixed !important;
    left: 0;
    width: 100vw;
    margin-top: 15px;
  }
  .header {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: $primary;
    .img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
  }
  .body {
    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      text-transform: uppercase;
      cursor: pointer;
      display: inline;
      .name {
        display: none;
      }
    }
  }
  .float-right {
    .call {
      padding-left: 0px;
      margin-left: 0px;
    }
    
    .nav-link {
      padding-left: 10px;
      text-decoration: none;
      color: $white;
      text-transform: capitalize;
    }
    .nav-link:hover {
      color: $primary;
      text-transform: uppercase;
    }
  }
}

.navbar.scrolled {
  background: $black;
  transition: all 0.2s linear;
}
  
}