.home {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

  .welcome-note {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 75vh;
    padding-bottom: 200px;
    background: linear-gradient(to bottom, #000, transparent),
      url(../../images/church.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    color: rgb(214, 205, 205);

    .welcome-note-header {
      padding-top: 200px;
      text-align: center;
      font-weight: 800;
      font-size: 2.5rem;
    }
    .welcome-note-body {
      text-align: center;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .description {
      padding-top: 10px;
      font-weight: 500;
    }
    .row {
      align-items: center;
      .search-input {
        background-color: $white;
        input {
          background-color: transparent;
          min-width: 50vw;
          line-height: 35px;
        }
      }
      .search-submit {
        background: $primary;
        color: $white;
        outline: none;
        border: 1px solid $primary;
        margin-left: 5px;
        line-height: 35px;
      }
    }
  }
  
}


/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .home {
    width: 100%;
    .welcome-note {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      min-height: 20vh;
      padding-bottom: 150px;
      background: linear-gradient(to bottom, #000, transparent),
        url(../../images/church-phone.jpg);
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
      color: rgb(214, 205, 205);
      background-size: cover;
    
      .welcome-note-header {
        margin-top: 90px;
        text-align: center;
        font-size: 2rem;
        width: 80%;
      }
      .welcome-note-body {
        text-align: center;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.1rem;
        width: 80%;
      }
      .description {
        font-size: 14px;
        width: 80%;
        text-align: center;
      }
      .row {
        align-items: center;
        .search-input {
          background-color: $white;
          margin-top: 75px;
          input {
            background-color: transparent;
            min-width: 50vw;
            line-height: 35px;
          }
        }
        .search-submit {
          background: $primary;
          color: $white;
          outline: none;
          border: 1px solid $primary;
          margin-left: 5px;
          line-height: 35px;
          margin-top: 75px;
        }
      }
    }
  }
}
