.location-page {
    margin-top: 10px;
    margin-bottom: 50px;
    .title {
        text-align: center;
        font-size: xx-large;
        font-weight: 600;
        .rotate {
            animation: rotation 8s infinite linear;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            margin-right: 10px;
        }  
          @keyframes rotation {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
          }  
    }
    .system {
      text-align: center;
      margin-top: 20px;
      font-weight: 500;
    }
    .phone {
      text-align: center;
      margin-top: 20px;
      font-weight: 500;
      visibility: hidden;
    }
    .locations {
        margin-top: 100px;

        //CSS FOR CORPER'S DISTRICT CARD
        .corpers {
            width: 1200px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            grid-gap: 15px;
            margin: 0 auto;
          .card{
            position: relative;
            width: 300px;
            height: 350px;
            background: #fff;
            margin: 0 auto;
            border-radius: 4px;
            box-shadow:0 2px 10px rgba(0,0,0,.2);
          }
          .card:before,
          .card:after
          {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background: #fff;
            transition: 0.5s;
            z-index:-1;
          }
          .card:hover:before{
          transform: rotate(20deg);
          box-shadow: 0 2px 20px rgba(0,0,0,.2);
          }
          .card:hover:after{
          transform: rotate(10deg);
          box-shadow: 0 2px 20px rgba(0,0,0,.2);
          }
          .card .imgBx{
          position: absolute;
          top: 10px;
          left: 10px;
          bottom: 10px;
          right: 10px;
          background: #222;
          transition: 0.5s;
          z-index: 1;
          }
          
          .card:hover .imgBx
          {
            bottom: 80px;
          }
        
          .card .imgBx img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
        
          .card .details{
              position: absolute;
              left: 10px;
              right: 10px;
              bottom: 10px;
              height: 60px;
              text-align: center;
          }
        
          .card .details h2{
           margin: 0;
           padding: 0;
           font-weight: 600;
           font-size: 20px;
           color: #777;
           text-transform: uppercase;
          } 
        
          .card .details h2 span{
          font-weight: 500;
          font-size: 16px;
          color: #f38695;
          display: block;
          margin-top: 5px;
           } 
           .card .details h2 span h4{
               font-weight: 300;
               text-align: center;
               font-size: x-small;
           }
           .btn {
               width: 150px;
               margin-left: auto;
               margin-right: auto;
               display: block;
           }
        }

        //CSS FOR WOLEX CARD
        .wolex {
            width: 1200px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            grid-gap: 15px;
            margin: 0 auto;
          .card{
            position: relative;
            width: 300px;
            height: 350px;
            background: #fff;
            margin: 0 auto;
            border-radius: 4px;
            box-shadow:0 2px 10px rgba(0,0,0,.2);
          }
          .card:before,
          .card:after
          {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background: #fff;
            transition: 0.5s;
            z-index:-1;
          }
          .card:hover:before{
          transform: rotate(20deg);
          box-shadow: 0 2px 20px rgba(0,0,0,.2);
          }
          .card:hover:after{
          transform: rotate(10deg);
          box-shadow: 0 2px 20px rgba(0,0,0,.2);
          }
          .card .imgBx{
          position: absolute;
          top: 10px;
          left: 10px;
          bottom: 10px;
          right: 10px;
          background: #222;
          transition: 0.5s;
          z-index: 1;
          }
          
          .card:hover .imgBx
          {
            bottom: 80px;
          }
        
          .card .imgBx img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
        
          .card .details{
              position: absolute;
              left: 10px;
              right: 10px;
              bottom: 10px;
              height: 60px;
              text-align: center;
          }
        
          .card .details h2{
           margin: 0;
           padding: 0;
           font-weight: 600;
           font-size: 20px;
           color: #777;
           text-transform: uppercase;
          } 
        
          .card .details h2 span{
          font-weight: 500;
          font-size: 16px;
          color: #f38695;
          display: block;
          margin-top: 5px;
           } 
           .card .details h2 span h4{
            font-weight: 300;
            text-align: center;
            font-size: x-small;
            }
            .btn {
                width: 150px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }

        //CSS FOR CITY-COLLEGE CARD
        .city-college {
            width: 1200px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            grid-gap: 15px;
            margin: 0 auto;
          .card{
            position: relative;
            width: 300px;
            height: 350px;
            background: #fff;
            margin: 0 auto;
            border-radius: 4px;
            box-shadow:0 2px 10px rgba(0,0,0,.2);
          }
          .card:before,
          .card:after
          {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background: #fff;
            transition: 0.5s;
            z-index:-1;
          }
          .card:hover:before{
          transform: rotate(20deg);
          box-shadow: 0 2px 20px rgba(0,0,0,.2);
          }
          .card:hover:after{
          transform: rotate(10deg);
          box-shadow: 0 2px 20px rgba(0,0,0,.2);
          }
          .card .imgBx{
          position: absolute;
          top: 10px;
          left: 10px;
          bottom: 10px;
          right: 10px;
          background: #222;
          transition: 0.5s;
          z-index: 1;
          }
          
          .card:hover .imgBx
          {
            bottom: 80px;
          }
        
          .card .imgBx img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
        
          .card .details{
              position: absolute;
              left: 10px;
              right: 10px;
              bottom: 10px;
              height: 60px;
              text-align: center;
          }
        
          .card .details h2{
           margin: 0;
           padding: 0;
           font-weight: 600;
           font-size: 20px;
           color: #777;
           text-transform: uppercase;
          } 
        
          .card .details h2 span{
          font-weight: 500;
          font-size: 16px;
          color: #f38695;
          display: block;
          margin-top: 5px;
           } 
           .card .details h2 span h4{
            font-weight: 300;
            text-align: center;
            font-size: x-small;
            }
            .btn {
                width: 150px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }
    }
}



/* For mobile phones: */
@media only screen and (max-width: 768px) {

    .location-page {
        margin-top: 0px;
        margin-bottom: 50px;
        .title {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            .rotate {
                animation: rotation 8s infinite linear;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                margin-right: 10px;
              }
              
              @keyframes rotation {
                from {
                  transform: rotate(0deg);
                }
                to {
                  transform: rotate(359deg);
                }
            }            
        }
        .system {
          text-align: center;
          margin-top: 5px;
          font-weight: 500;
          visibility: hidden;
        }
        .phone {
          text-align: center;
          margin-top: 5px;
          font-weight: 500;
          visibility: visible;
          line-height: 24px;
          font-size: small;
        }
        .locations {
            margin-top: 50px;
    
            //CSS FOR CORPER'S DISTRICT CARD
            .corpers {
                width: 1200px;
                display: block;
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                grid-gap: 15px;
                margin: 0 auto;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
              .card{
                position: relative;
                width: 300px;
                height: 350px;
                background: #fff;
                margin: 0 auto;
                border-radius: 4px;
                box-shadow:0 2px 10px rgba(0,0,0,.2);
              }
              .card:before,
              .card:after
              {
                content:"";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                background: #fff;
                transition: 0.5s;
                z-index:-1;
              }
              .card:hover:before{
              transform: rotate(20deg);
              box-shadow: 0 2px 20px rgba(0,0,0,.2);
              }
              .card:hover:after{
              transform: rotate(10deg);
              box-shadow: 0 2px 20px rgba(0,0,0,.2);
              }
              .card .imgBx{
              position: absolute;
              top: 10px;
              left: 10px;
              bottom: 10px;
              right: 10px;
              background: #222;
              transition: 0.5s;
              z-index: 1;
              }
              
              .card:hover .imgBx
              {
                bottom: 80px;
              }
            
              .card .imgBx img{
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
              }
            
              .card .details{
                  position: absolute;
                  left: 10px;
                  right: 10px;
                  bottom: 10px;
                  height: 60px;
                  text-align: center;
              }
            
              .card .details h2{
               margin: 0;
               padding: 0;
               font-weight: 600;
               font-size: 20px;
               color: #777;
               text-transform: uppercase;
              } 
            
              .card .details h2 span{
              font-weight: 500;
              font-size: 16px;
              color: #f38695;
              display: block;
              margin-top: 5px;
               } 
               .card .details h2 span h4{
                   font-weight: 300;
                   text-align: center;
                   font-size: x-small;
               }
               .btn {
                   width: 150px;
                   margin-left: auto;
                   margin-right: auto;
                   display: block;
                   margin-top: 20px;
               }
            }
    
            //CSS FOR WOLEX CARD
            .wolex {
                width: 1200px;
                display: block;
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                grid-gap: 15px;
                margin: 0 auto;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
              .card{
                position: relative;
                width: 300px;
                height: 350px;
                background: #fff;
                margin: 0 auto;
                border-radius: 4px;
                box-shadow:0 2px 10px rgba(0,0,0,.2);
              }
              .card:before,
              .card:after
              {
                content:"";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                background: #fff;
                transition: 0.5s;
                z-index:-1;
              }
              .card:hover:before{
              transform: rotate(20deg);
              box-shadow: 0 2px 20px rgba(0,0,0,.2);
              }
              .card:hover:after{
              transform: rotate(10deg);
              box-shadow: 0 2px 20px rgba(0,0,0,.2);
              }
              .card .imgBx{
              position: absolute;
              top: 10px;
              left: 10px;
              bottom: 10px;
              right: 10px;
              background: #222;
              transition: 0.5s;
              z-index: 1;
              }
              
              .card:hover .imgBx
              {
                bottom: 80px;
              }
            
              .card .imgBx img{
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
              }
            
              .card .details{
                  position: absolute;
                  left: 10px;
                  right: 10px;
                  bottom: 10px;
                  height: 60px;
                  text-align: center;
              }
            
              .card .details h2{
               margin: 0;
               padding: 0;
               font-weight: 600;
               font-size: 20px;
               color: #777;
               text-transform: uppercase;
              } 
            
              .card .details h2 span{
              font-weight: 500;
              font-size: 16px;
              color: #f38695;
              display: block;
              margin-top: 5px;
               } 
               .card .details h2 span h4{
                font-weight: 300;
                text-align: center;
                font-size: x-small;
                }
                .btn {
                    width: 150px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    margin-top: 20px;
                }
            }
    
            //CSS FOR CITY-COLLEGE CARD
            .city-college {
                width: 1200px;
                display: block;
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                grid-gap: 15px;
                margin: 0 auto;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
              .card{
                position: relative;
                width: 300px;
                height: 350px;
                background: #fff;
                margin: 0 auto;
                border-radius: 4px;
                box-shadow:0 2px 10px rgba(0,0,0,.2);
              }
              .card:before,
              .card:after
              {
                content:"";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                background: #fff;
                transition: 0.5s;
                z-index:-1;
              }
              .card:hover:before{
              transform: rotate(20deg);
              box-shadow: 0 2px 20px rgba(0,0,0,.2);
              }
              .card:hover:after{
              transform: rotate(10deg);
              box-shadow: 0 2px 20px rgba(0,0,0,.2);
              }
              .card .imgBx{
              position: absolute;
              top: 10px;
              left: 10px;
              bottom: 10px;
              right: 10px;
              background: #222;
              transition: 0.5s;
              z-index: 1;
              }
              
              .card:hover .imgBx
              {
                bottom: 80px;
              }
            
              .card .imgBx img{
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
              }
            
              .card .details{
                  position: absolute;
                  left: 10px;
                  right: 10px;
                  bottom: 10px;
                  height: 60px;
                  text-align: center;
              }            
              .card .details h2{
               margin: 0;
               padding: 0;
               font-weight: 600;
               font-size: 20px;
               color: #777;
               text-transform: uppercase;
              }             
              .card .details h2 span{
              font-weight: 500;
              font-size: 16px;
              color: #f38695;
              display: block;
              margin-top: 5px;
               } 
               .card .details h2 span h4{
                font-weight: 300;
                text-align: center;
                font-size: x-small;
                }
                .btn {
                    width: 150px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    margin-top: 20px;
                }
            }
        }
    }
}